<h1 >Welcome to Ed-U</h1>

<div class="form-signin">
    <%= form_with url: '/login' do |f| %>
        <div>
            <%= f.label :email%>
            <%= f.email_field :email, class: "form-control"%>
        </div>
        <div>
            <%= f.label :password%>
            <%= f.password_field :password, class: "form-control"%>
        </div>
        <div>
            <%= f.submit 'Login', {url: login_path, class: "btn btn-primary mt-2"}%>
            <%= link_to "Create Account", new_user_path, class: "btn btn-primary mt-2" %> <br>
            or
        </div>
    <% end %>
            <%= button_to "Login with Google", '/auth/google_oauth2', class: "btn btn-success" %>
</div>