<div class="row align-items-center">
    <div class="col">
        <h1>Welcome <%= @user.name %></h1>
    </div>
    <div class="col d-flex justify-content-md-end">
        <%= link_to "Facilitation Reviews", user_reviews_path(@user), class: "btn btn-primary ms-1" %>
        <%= link_to "Employees", users_path, class: "btn btn-primary ms-1" %>
    </div>
</div>
<hr>
<h3>Enrollments</h3>
<div class="container">
    <div class="row">
        <div class="col-md card">
            <div class="card-header text-center text-white bg-primary"><h3>Upcoming Courses</h3></div>
            <div class="card-body">
                <% @user.enrollments.upcoming.each do |course| %>
                    <div class="card m-1" >
                        <div class="card-header">
                            <h5 class="card-title text-center"><%= link_to course.name, course %></h5>
                            <div class="text-center"><b><%= course.display_schedule %></b></div>
                        </div>
                        <div class="card-body">
                            Description: <br>
                            <i><%= course.description %></i>
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <%= button_to "Unenroll", registration_path, method: :delete, params:{registration: {learner_id: @user.id, course_id: course.id}}, class: "btn btn-primary"%>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md card">
            <div class="card-header text-center text-white bg-primary"><h3>Past Courses</h3></div>
            <div class="card-body">
                <% @user.enrollments.past.each do |course| %>
                    <div class="card m-1" >
                        <div class="card-header">
                            <h5 class="card-title text-center"><%= link_to course.name, course %></h5>
                        </div>
                        <div class="card-body">
                            Description: <br>
                            <p class="card-text color-gray"><i><%= course.description %></i></p>
                        </div>
                        <div class="card-footer d-sm-flex justify-content-around">
                            <%= link_to "Review Course", new_course_review_path(course.id), class: "btn btn-primary" %>
                            <%= link_to "Review Facilitator", new_user_review_path(course.facilitator.id), params: {review:{reviewer_id: current_user.id, reviewable_type: course.facilitator.class, reviewable_id: course.facilitator.id}}, class: "btn btn-primary" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

