<% invalid = ->(field_name) {@user.errors.include?(field_name)}%>
<%= form_with model:@user do |f|%> 
    <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control #{'is-invalid' if invalid.(:name)}" %>
            <% if invalid.(:name) %>
                <div class="invalid-feedback d-block">
                    <% @user.errors.full_messages_for(:name).each do |message| %>
                        <%= message %>
                    <% end %>
                </div>
            <% end %>
    </div>
    <div class="form-group">
        <%= f.label :email%>
        <%= f.email_field :email, class: "form-control #{'is-invalid' if invalid.(:email)}" %>
           <% if invalid.(:email) %>
                <div class="invalid-feedback d-block">
                    <% @user.errors.full_messages_for(:email).each do |message| %>
                        <%= message %>
                    <% end %>
                </div>
            <% end %>
    </div>
    <div class="form-group">
        <%= f.label :password%>
        <%= f.password_field :password, class: "form-control #{'is-invalid' if invalid.(:password)}" %>
           <% if invalid.(:password) %>
                <div class="invalid-feedback d-block">
                    <% @user.errors.full_messages_for(:password).each do |message| %>
                        <%= message %>
                    <% end %>
                </div>
            <% end %>
    </div>
    <% if admin? %>
        <div class="form-group">
            <%= f.label :supervisor_id, "Supervisor" %>
            <%= f.collection_select :supervisor_id, User.admin, :id, :name, {prompt: "Supervisor Unassigned"}, {class: "form-select"}%>
        </div>
        <div class="form-group">
            <%= f.label :department_id, "Department" %>
            <%= f.collection_select :department_id, Department.all, :id, :name, {prompt: "Department Unassigned"}, {class: "form-select"}%>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.submit submit_text, class: "btn btn-primary mt-3" %>
    </div>
<% end %>
    <div class="form-group">
         <%= button_to "Delete Account", {action: "destroy", id: @user.id}, method: "delete", class: "btn btn-danger mt-1" %>
    </div>