<h1>Welcome <%= @user.name %></h1>
<hr>
<h3>Upcoming Courses</h3>
<div class="container">
    <div class="row">
        <% @user.enrollments.upcoming.each do |course| %>
            <div class="card m-1" style="width: 30rem">
                <div class="card-header">
                    <h5 class="card-title text-center"><%= link_to course.name, course %></h5>
                </div>
                <div class="card-body">
                    Description: <br>
                    <i><%= course.description %></i> <br>
                    <b><%= course.display_schedule %></b>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <%= button_to "Unenroll", registration_path, method: :delete, params:{registration: {learner_id: @user.id, course_id: course.id}}, class: "btn btn-primary"%>
                </div>
            </div>
        <% end %>
        <br>
    </div>
</div>
<hr>
<h3>Past Courses</h3>
<div class="container">
    <div class="row">
        <% @user.enrollments.past.each do |course| %>
            <div class="card m-1" style="width: 30rem">
                <div class="card-header">
                    <h5 class="card-title text-center"><%= link_to course.name, course %></h5>
                </div>
                <div class="card-body">
                    Description: <br>
                    <p class="card-text color-gray"><i><%= course.description %></i></p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <%= button_to "Unenroll", registration_path, method: :delete, params:{registration: {learner_id: @user.id, course_id: course.id}}, class: "btn btn-primary"%>
                    <%= button_to "Review Course", new_review_path, params: {review:{reviewer_id: current_user.id, reviewable_type: course.class, reviewable_id: course.id}}, class: "btn btn-primary" %>
                    <%= button_to "Review Facilitator", new_review_path, params: {review:{reviewer_id: current_user.id, reviewable_type: course.facilitator.class, reviewable_id: course.facilitator.id}}, class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
        <br>
    </div>
</div>