<div class="row align-items-center">
    <div class="col">
        <h1>
        <% if request.path.include?("/users")%>
          Facilitations
        <% else %>
          Course Catalog
        <% end %>
        </h1>
    </div>
    <div class="col d-flex justify-content-md-end">
        <%= link_to("Pending Courses", pending_courses_path, class: "btn btn-primary ms-1") if admin? %>
        <% if admin? || facilitator? %>
          <%= link_to "Create a Course", new_course_path, class: "btn btn-primary ms-1" %>
        <% end %>
    </div>
</div>
<hr>
<table class="table table-striped">
  <thead class="bg-primary text-white text-center">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Facilitator</th>
      <% if admin? %> 
      <th scope ="col">Status</th>
      <% end %>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course|%>
    <tr class="<%='bg-warning' if course.status == "pending" %>">
      <th scope="row" class="text-center"><%=link_to course.name, course%></th>
      <td><%=course.description%></td>
      <td class="text-center"><%=course.facilitator.name%></td>
      <% if admin? %>
      <td class="text-center">
        <%= form_with model: course do |f| %>
          <%= f.select(:status, [["Approved","approved"],["Denied","denied"],["Pending","pending"]], {prompt: course.status.titleize}, {class: "form-select"})%>
          <%= f.submit "Update Status", class: "btn btn-primary mt-2" %>
        <% end %>
      </td>
      <% end %>
      <td class="text-center">
      <% if !own?(course.facilitator) %>
        <%= button_to "Register", registrations_path, params: {registration:{course_id: course.id, learner_id: current_user.id}}, class: "btn btn-primary"  %>
      <% end %>
      <% if admin? || own?(course.facilitator)%>
        <%= link_to "Edit", edit_course_path(course), class: "btn btn-primary mt-3" %>
        <%= button_to "Delete", course_path(course), method: :delete, class: "btn btn-danger mt-3" %>
      <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>