<h1>Ed-U Catalog</h1>

<table class="table table-striped">
  <thead class="bg-primary">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Facilitator</th>
      <th scope="col">Register</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course|%>
    <tr>
      <th scope="row"><%=link_to course.name, course%></th>
      <td><%=course.description%></td>
      <td><%=course.facilitator.name%></td>
      <td><%= button_to "Register", registrations_path, params: {registration:{course_id: course.id, learner_id: current_user.id}}, class: "btn btn-primary"  %>
      <!-- display if current_user.status == facilitator || current_user.status == admin -->
      <%= link_to "Edit", edit_course_path(course), class: "btn btn-primary mt-3" %>
      <%= button_to "Delete", course_path(course), method: :delete, class: "btn btn-danger mt-3" %>
      <!-- -->
    </tr>
    <%end%>
  </tbody>
</table>