<h1><%= @course.name %></h1>
<hr>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <b>Facilitator:</b>
                <h3><%= @course.facilitator.name %></h3>
            </div>
            <div class="col">
                <b>Schedule:</b>
                <h3><%= @course.display_schedule %></h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <%= @course.description %>
    </div>
</div>
<hr>
<!--display if admin or facilitator -->
<h2>Roster:</h2>
<ul>
    <% @course.learners.each do |learner| %>
        <li><%= link_to learner.name, learner %></li>
    <% end %>
</ul>
