<h1>Review <%= @reviewable.name %> </h1>

<%= form_with model:@review do |f| %>
    <div class="form-group">
        <%= f.hidden_field :reviewer_id, value: current_user.id %>
        <%= f.hidden_field :reviewable_id, value: @reviewable.id %>
        <%= f.hidden_field :reviewable_type, value: @reviewable.class %>
        <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= f.submit "Submit Review", class: "btn btn-primary mt-3" %>
<% end %>